[submodule "ETM/lib/libpqxx"]
	path = ETM/lib/libpqxx
	url = https://github.com/jtv/libpqxx.git
	branch = db-driven
[submodule "ETM/lib/libbcrypt"]
	path = ETM/lib/libbcrypt
	url = https://github.com/trusch/libbcrypt.git
	branch = db-driven
[submodule "ETM/lib/curlcpp"]
	path = ETM/lib/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
[submodule "ETM/lib/json"]
	path = ETM/lib/json
	url = https://github.com/nlohmann/json.git
